body {
  max-width: 95%;
  margin: auto;
  background-color: #f0f1ff;
}
blockquote {
  margin-left: 35%;
  font-size: 160%;
  background: #d1d1d1;
  padding: 10px;
  border-left: 3px firebrick;
  margin-top: 80px;
  margin-bottom: 80px;
}
